{% extends 'base.html' %}

{% block content %}

{% for i in range(dirs.length) %}
  {% if letter + (i + 1) == dir %}
    <span class="paddingRight">{{ letter }}{{ i + 1 }}</span>
  {% else %}
    <a href="./{{ letter }}{{ i + 1 }}.html">{{ letter }}{{ i + 1 }}</a>
  {% endif %}
{% endfor %}

<h2>Words</h2>
{% for file in words %}
  <img height="256" src="../materials/{{ letter }}/{{ dir }}/{{ file }}"/>
{% endfor %}


<h2>Sentence</h2>
<h3>{{ sentence.split('-')[2].split('.')[0] }}</h3>
<img height="256" src="../materials/{{ letter }}/{{ dir }}/{{ sentence }}"/>


<h2>Listening</h2>

TBD

{% endblock %}
