{% extends 'base.html' %}

{% block content %}

{% for i in range(dirs.length) %}
  {% if letter + (i + 1) == dir %}
    <span class="paddingRight">{{ letter }}{{ i + 1 }}</span>
  {% else %}
    <a href="./{{ letter }}{{ i + 1 }}.html">{{ letter }}{{ i + 1 }}</a>
  {% endif %}
{% endfor %}

<h2>Words</h2>
{% for file in words %}
  <img height="256" src="../materials/{{ letter }}/{{ dir }}/{{ file }}"/>
{% endfor %}


<h2>Sentence</h2>
<h3>{{ sentence.split('-')[2].split('.')[0] }}</h3>
<img height="256" src="../materials/{{ letter }}/{{ dir }}/{{ sentence }}"/>


<h2>Listening <button onclick="document.getElementById('player').play()" style="font-size: 24px; width: 128px; height: 48px; cursor: pointer; border-radius: 8px; background-color: #4CAF50; color: white;">▶️ Play 🎶</button></h2>

<div style="vertical-alignment: middle">
  <img height="256" src="../materials/{{ letter }}/{{ dir }}/audio/{{ choices[0] }}" style="margin-right: 64px;"/>
  <img height="256" src="../materials/{{ letter }}/{{ dir }}/audio/{{ choices[1] }}"/>
</div>

<audio id="player">
  <source src="../materials/{{ letter }}/{{ dir }}/audio/{{ audio }}" type="audio/wav">
  Your browser does not support the audio element.
</audio>

{% endblock %}
